@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300&subset=cyrillic);

@font-face {
	font-family: "Open Sans Condensed";
    src: url("../fonts/Open Sans Condensed/OpenSansCondensedBold.eot");
    src: url("../fonts/Open Sans Condensed/OpenSansCondensedBold.eot?#iefix")format("embedded-opentype");
    src: url("../fonts/Open Sans Condensed/OpenSansCondensedBold.ttf");
    font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Open Sans Condensed Light";
    src: url("../fonts/OpenSansCondensedLight.eot");
    src: url("../fonts/OpenSansCondensedLight.eot?#iefix")format("embedded-opentype");
    src: url("../fonts/OpenSansCondensedLight.ttf");
    font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Arial Narrow";
    src: url("../fonts/ArialNarrow.eot");
    src: url("../fonts/ArialNarrow.eot?#iefix")format("embedded-opentype");
    src: url("../fonts/ArialNarrow.ttf");
    font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Arno Pro";
 src: local("Arno Pro"),
    url("../fonts/arno_pro.eot"),
    url("../fonts/arno_pro.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ArnoPro.ttf") format("truetype"),
    url("../fonts/arno_pro-webfont.woff2") format("woff2"),
    url("../fonts/arno_pro-webfont.woff") format("woff"),
    url("../fonts/arno_pro-webfont.svg#arno_proregular") format("svg");
    font-style: normal;
    font-weight: normal;
}