html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

a {
  cursor: pointer !important;
}

body {
  background: url(../images/bg.jpg) top left no-repeat #c6c7c9;
  overflow-x: hidden;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  background-size: 100%;
}

/*************** SCROLLBAR BASE CSS ***************/
.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 !important;
  position: relative;
}

.scroll-wrapper > .scroll-content {
  border: none !important;
  box-sizing: content-box !important;
  height: auto;
  left: 0;
  margin: 0;
  max-height: none !important;
  max-width: none !important;
  overflow: scroll !important;
  padding: 0;
  position: relative !important;
  top: 0;
  width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.scroll-element {
  display: none;
}

.scroll-element, .scroll-element div {
  box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
  display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
  cursor: default;
}

.scroll-textarea {
  border: 1px solid #cccccc;
  border-top-color: #999999;
}

.scroll-textarea > .scroll-content {
  overflow: hidden !important;
}

.scroll-textarea > .scroll-content > textarea {
  border: none !important;
  box-sizing: border-box;
  height: 100% !important;
  margin: 0;
  max-height: none !important;
  max-width: none !important;
  overflow: scroll !important;
  outline: none;
  padding: 2px;
  position: relative !important;
  top: 0;
  width: 100% !important;
}

.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.scrollbar-external_wrapper {
/*height: 197px !important;*/
/*  position: relative;*/
/*  width: 212px !important; */
}

.scrollbar-external {
  height: 100%;
  overflow: auto;
  width: 212px;
}

/******************* EXTERNAL SCROLLBAR *******************/
.external-scroll_x,
.external-scroll_y {
  border: solid 1px #c1c1c1;
  cursor: pointer;
  z-index: 2;
  display: none;
  position: absolute;
}

.external-scroll_x.scroll-scrollx_visible {
  display: block;
  height: 10px;
  left: 0;
  top: 410px;
  width: 200px;
}

.external-scroll_y.scroll-scrolly_visible {
  display: block;
  height: 199px;
  left: 197px;
  top: -2px;
  width: 15px;
}

.external-scroll_x div,
.external-scroll_y div {
  height: 100%;
  left: 0;
  top: 0;
  background: #F7F7F7;
  position: absolute;
  width: 100%;
}

.external-scroll_x .scroll-bar,
.external-scroll_y .scroll-bar {
  background: #fff;
  border-bottom: 1px solid #c1c1c1;
  border-top: 1px solid #c1c1c1;
  z-index: 12;
}

.external-scroll_x .scroll-bar {
  width: 100px;
}

.external-scroll_y .scroll-bar {
  height: 120px;
}

/*************** SCROLLBAR BASE CSS ***************/
.clearfix {
  clear: both;
}

.page {
  width: 1024px;
  margin: 0 auto;
  position: relative;
  background: #fff;
  border-left: 1px solid #c1c1c1;
  border-right: 1px solid #c1c1c1;
}

#mod-body {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(176, 173, 162, 0.34);
  top: 0px;
  left: 0px;
  z-index: 4;
}
#mod-body form {
  position: absolute;
  left: 50%;
  top: 235px;
  display: none;
  width: 281px;
  margin-left: -123px;
  background-color: #FFF;
  border: 1px solid #c1c1c1;
  padding: 15px 40px 20px 40px;
}
#mod-body form h2 {
  font-size: 162.5%;
  font-family: "Open Sans Condensed", sans-serif;
  color: #CF9E61;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  padding-bottom: 20px;
}
#mod-body form i {
  font-size: 75%;
  position: absolute;
  right: 6px;
  top: 5px;
  cursor: pointer;
  color: #bcb9b0;
}
#mod-body form input {
  font-size: 112.5%;
  font-family: "Arial", sans-serif;
  color: #7A6956;
  font-weight: normal;
  text-decoration: none;
  height: 29px;
  margin-bottom: 5px;
  border: 1px solid #c1c1c1;
  width: 196px;
  padding-left: 12px;
  padding-top: 5px;
}
#mod-body form input:focus {
  outline: none;
  overflow: hidden;
}
#mod-body form input::-webkit-input-placeholder {
  color: #7A6956;
}
#mod-body form input::-moz-placeholder {
  color: #7A6956;
}
#mod-body form input:-moz-placeholder {
  color: #7A6956;
}
#mod-body form input:-ms-input-placeholder {
  color: #7A6956 !important;
}
#mod-body form .tel-err, #mod-body form .name-err {
  display: inline-block;
  font-size: 87.5%;
  font-family: "Arial", sans-serif;
  color: #A92E30;
  font-weight: normal;
  text-decoration: none;
  padding-left: 12px;
  padding-bottom: 10px;
}
#mod-body form input[name="name"], #mod-body form input[name="tel"] {
  border-color: #b6595b;
}
#mod-body form input[name="time"] {
  margin-top: 3px;
}
#mod-body form .time-msg {
  display: inline-block;
  font-size: 87.5%;
  font-family: "Arial", sans-serif;
  color: #7A6956;
  font-weight: normal;
  text-decoration: none;
}
#mod-body form input[type="submit"] {
  width: 159px;
  height: 34px;
  background-color: #CF9E61;
  border-radius: 8px;
  margin: 0 auto;
  padding: 0;
  border: none;
  cursor: pointer;
  font-size: 106.25%;
  font-family: "Arial", sans-serif;
  color: #fff;
  font-weight: normal;
  text-decoration: none;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  display: block;
}
#mod-body form p {
  padding-top: 15px;
  display: none;
  font-size: 76.875%;
  font-family: "Arial", sans-serif;
  color: #CF9E61;
  font-weight: normal;
  text-decoration: none;
}

#header {
  margin-bottom: 35px;
}

.left-logo {
  float: left;
  position: relative;
  width: 220px;
  z-index: 0;
  padding-left: 8px;
  height: 280px;
}

::i-block-chrome, .left-logo {
  width: 217px;
}

.right-col {
  float: left;
  width: 785px;
  padding-top: 12px;
  position: relative;
  z-index: 1;
}
.right-col .titles {
  float: left;
  width: 522px;
  padding-right: 25px;
}
.right-col .titles h1, .right-col .titles .hh1 {
  font-size: 710%;
font-family: "Arno Pro","Open Sans Condensed",sans-serif;
color: #5A141B;
font-weight: 400;
text-decoration: none;
display: block;
padding-bottom: 23px;
letter-spacing: 3px;
transform: scale(0.8, 1);
margin-left: -103px;
margin-top: -4px;
position: relative;
width: 1022px;
}
.right-col .titles span {
  font-size: 570%;
font-family: "Arno Pro","Open Sans Condensed",sans-serif;
color: #5A141B;
font-weight: 400;
text-decoration: none;
display: block;
padding-bottom: 12px;
transform: scale(0.8, 1);
margin-left: -56px;
margin-top: -47px;
}
.right-col .titles p {
  font-size: 112.5%;
  font-family: "Arial Narrow", sans-serif;
  color: #BA8F59;
  font-weight: normal;
  text-decoration: none;
  font-stretch: condensed;
  margin-bottom: -5px;
}
.right-col ::i-block-chrome, .right-col .titles {
  width: 524px;
}
.right-col .tels {
  float: right;
  width: 263px;
  padding-top: 94px;
}
.right-col .tels span {
  text-align: right;
padding-bottom: 0px;
font-size: 294%;
font-family: "Arno Pro","Open Sans Condensed",sans-serif;
color: #ba8f59;
font-weight: 100;
text-decoration: none;
display: block;
text-transform: uppercase;
transform: scale(0.8, 1);
margin-left: -229px;
margin-top: 20px;
width: 546px;
}
.right-col .tels p {
    font-size: 150%;
  color: #BA8F59;
  font-weight: 100;
  text-decoration: none;
display: inline-block;
  font-family: "Arno Pro", "Open Sans Condensed",sans-serif;
  text-transform: uppercase;
  transform: scale(0.7, 1);
  width: 205px;
  position: absolute;
  margin-left: -59px;
  margin-top: 7px;
}
.right-col ::i-block-chrome, .right-col .tels {
  width: 265px;
}

::i-block-chrome, .right-col {
  width: 789px;
}

.btn-call {
      display: inline-table;
  border: none;
  background: none;
  font-size: 132.5%;
  color: #BA8F59;
  font-weight: 100;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding-left: 0;
  font-family: "Arno Pro","Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  transform: scale(0.7, 1);
  letter-spacing: 2px;
  margin-left: -50px;
  margin-top: 9px;
}
.btn-call:focus {
  outline: none;
}
.btn-call:hover {
  color: #5A141B;
}

.right-col .tels .search-form {
  padding-top: 11px;
  position: relative;
}
.right-col .tels .search-form input {
  height: 30px;
  font-size: 100%;
  font-family: "Arial Narrow", sans-serif;
  color: #867766;
  font-weight: normal;
  text-decoration: none;
  font-stretch: condensed;
  border: 1px solid #bcb6af;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #F7F7F7;
  width: 265px;
}
.right-col .tels .search-form input:focus {
  outline: none;
  overflow: hidden;
}
.right-col .tels .search-form input::-webkit-input-placeholder {
  font-size: 16px;
  font-family: "Arial Narrow", sans-serif;
  color: #867766;
}
.right-col .tels .search-form input::-moz-placeholder {
  font-size: 16px;
  font-family: "Arial Narrow", sans-serif;
  color: #867766;
}
.right-col .tels .search-form input:-moz-placeholder {
  font-size: 16px;
  font-family: "Arial Narrow", sans-serif;
  color: #867766;
}
.right-col .tels .search-form input:-ms-input-placeholder {
  font-size: 16px !important;
  font-family: "Arial Narrow", sans-serif;
  color: #867766 !important;
}
.right-col .tels .search-form .search-img {
  width: 49px;
  height: 45px;
  background: url(../images/search_spr.png) top left no-repeat;
  position: absolute;
  right: 15px;
  bottom: 0px;
  top: auto;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

/*.right-col .tels .search-form .search-img {    background: url(../images/search_spr.png) top left no-repeat;}*/

.right-col .tels .search-form:hover .search-img,
.right-col .tels .search-form:focus .search-img,
.right-col .tels .search-form:active .search-img{
  background-position:top right;
}

.right-col .tels .search-form .search-img.hl {background-position:top right;}

.nav-menu {
  height: 49px;
  border: 1px solid #bcb6af;
  border-radius: 8px;
  padding-top: 12px;
  margin-top: 15px;
  padding-left: 5px;
}
.nav-menu .lv0 {
  display: block;
  position: relative;
  float: left;
}
.nav-menu .lv0 a {
    display: inline-block;
  font-size: 87.5%;
  color: #7a6956;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 9px;
  line-height: 25px;
  border-right: 1px solid #7a6956;
}

.nav-menu .lv0 a  div{  font-family: "Arno Pro", sans-serif;
  text-transform: uppercase;
  transform: scale(0.9,1);}

.nav-menu .lv0:hover a {
  color: #fff;
  background: #cf9e61;
}
.nav-menu .lv0 .active {
  color: #BA8F59;
}
.nav-menu .lv0 .last {
  border: none;
  padding-right: 9px;
}
.nav-menu .sub:hover .sub-menu {
  display: block;
}
.nav-menu .sub-menu {
  border: 1px solid #bcb6af;
  display: none;
  position: absolute;
  left: -1px;
  top: 25px;
  z-index: 2;
  background: #fff;
  width: 194px;
  padding-top: 13px;
  padding-bottom: 10px;
}
@-moz-document url-prefix() {
  .nav-menu .sub-menu {
    width: 205px;
  }
}
.nav-menu .sub-menu .lv1 a {
  font-size: 87.5%;
  font-family: "Arial", sans-serif;
  color: #CF9E61;
  font-weight: normal;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  line-height: 15px;
  background: #fff;
  border: none;
  padding: 8px 0px 8px 15px;
}
.nav-menu .sub-menu .lv1 a:hover {
  color: #7a6956;
}
.nav-menu .sub-menu .lv1 .active {
  color: #fff;
  background: #cf9e61;
}
.nav-menu .sub-menu .lv1 .active:hover {
  color: #fff;
}
.nav-menu ::i-block-chrome, .nav-menu .sub-menu {
  width: 205px;
}

.sidebar {
  float: left;
  padding-left: 20px;
  padding-right: 15px;
}

.internal .side-menu {
  overflow: visible;
  height: auto;
}

.internal .side-menu .scrollbar-external {
    width:190px;
}

.internal .side-menu > .scrollbar-external {
    margin-bottom:12px;
}

.side-menu {
  border: 1px solid #c1c1c1;
  padding-top: 3px;
  position: relative;
  overflow: hidden;
  height: 198px;
  width: 212px;
  margin-bottom: 8px;
}
.side-menu #side-menu_name_about_us {
    font-size: 100.5%;
  color: #5A141B;
  font-weight: 600;
  text-decoration: none;
  line-height: 38px;
  padding-left: 15px;
  font-family: "Arno Pro","Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  transform: scale(0.8, 1);
  margin-left: -18px;
  letter-spacing: 2px;
}
.side-menu li {
  position: relative;
  z-index: 0;
}
.side-menu li a {
  font-size: 100%;
  font-family: "Open Sans Condensed", sans-serif;
  color: #5A141B;
  font-weight: 300;
  text-decoration: none;
  line-height: 28px;
  display: inline-block;
  padding-left: 15px;
}
.side-menu li a:hover {
  color: #CF9E61;
}
.side-menu .active {
  background: #f1ece5;
}
.side-menu::after {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  width: 100%;
  height: 10px;
  background: #fff;
}

.side-calk-baget {width: 193px;
line-height: 47px;
display: block;
border: 1px solid #c6bbae;
padding-left: 15px;
font-size: 94.5%;
font-family: "Open Sans Condensed",sans-serif;
color: #4A2F1B;
font-weight: 300;
text-decoration: none;
background: #F7F7F7 url("../images/calculator_03.png") no-repeat scroll 100% 100%;
margin-bottom: 7px;
margin-left: 13px;
border-radius: 9px;}

.side-calk-baget div{font-family: "Arno Pro",sans-serif;
text-transform: uppercase;
transform: scale(0.8, 1);
margin-left: -21px;
margin-top: 1px;}

.side-calk-baget:hover {background: url(../images/calculator_03-hover_03.png) 100% 100% no-repeat #f7f7f7;}

.side-baget, .side-borders {
  width: 212px;
  line-height: 42px;
  display: block;
  border: 1px solid #c1c1c1;
  padding-left: 15px;
  font-size: 112.5%;
  font-family: "Open Sans Condensed", sans-serif;
  color: #4A2F1B;
  font-weight: 300;
  text-decoration: none;
  background: url(../images/bagets.png) 100% 100% no-repeat #f7f7f7;
  margin-bottom: 7px;
}

.side-baget div, .side-borders div{font-family: "Arno Pro", sans-serif;
  text-transform: uppercase;
  transform: scale(0.8,1);
  margin-left: -21px;
  margin-top: 1px;}

.side-baget:hover, .side-borders:hover,.side-calk-baget:hover {
  text-decoration: none;
  color: #986A30;
  background-color: #F0E8DF;

}
.side-baget:focus, .side-borders:focus, .side-calk-baget:focus {
  text-decoration: none;
  color: #4A2F1B;
}

.side-borders {
  background: url(../images/borders.png) 100% 100% no-repeat #f7f7f7;
}

.slick-dots {
  bottom: 7px;
  left: 15px;
  text-align: left;
}
.slick-dots li {
  width: 17px;
  margin: 0 3px;
}
.slick-dots li button {
  width: 17px;
  height: 17px;
  border: 1px solid #c1c1c1;
  background: #fff;
}
.slick-dots li button::before {
  content: '';
}
.slick-dots .slick-active button {
  background: #fbd08b;
}

.main-slider {
  position: relative;
  width: 773px;
  padding-right: 20px;
  float: right;
  height: 300px;
}
.main-slider img {
  display: block;
  width: 773px;
  height: 300px;
}

.main-cont {
/*margin-top: 35px;*/
  padding-left: 18px;
  padding-right: 18px;
}
.main-cont h2, .main-cont h1 {
   font-size: 162.5%;
  color: #5A141B;
  font-weight: 200;
  text-decoration: none;
  padding-left: 31px;
  position: relative;
  font-family: "Arno Pro", sans-serif;
  text-transform: uppercase;
  transform: scale(0.8,1);
  letter-spacing: 2px;

  padding-top: 7px;
}

.main-cont h2{ margin-left: -106px;}

.main-cont h1 { margin-left: -86px;}

.main-cont h2::before, .main-cont h1::before {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  top: 7px;
  width: 20px;
  height: 20px;
  border: 1px solid #c1c1c1;
  background-color: #FFF;
}

.srvs h2 {
  padding-bottom: 36px;
}

.srv-item, .to-order .order-item {
  float: left;
  width: 175px;
  background: url(../images/srv_bord.png) 0% 0% no-repeat;
  position: relative;
  padding: 18px 0px 40px 0px;
  margin-right: 10px;
  margin-left: 10px;
  height: 235px;
}
.srv-item a, .to-order .order-item a {
  text-decoration: none;
  display: block;
}
.srv-item a:hover p, .to-order .order-item a:hover p {
  color: #CF9E61;
}
.srv-item .photo, .to-order .order-item .photo {
  display: table-cell;
  width: 159px;
  height: 111px;
  overflow: hidden;
  vertical-align: middle;
  padding-left: 19px;
  text-align: center;
}
.srv-item img, .to-order .order-item img {
  max-width: 139px;
  display: inline-block;
  max-height: 111px;
}
.srv-item p, .to-order .order-item p {
  padding-top: 56px;
  font-size: 112.5%;
  font-family: "Open Sans Condensed", sans-serif;
  color: #5A141B;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
}

.to-order {
  width: 610px;
  float: left;
}
.to-order h2 {
  padding-bottom: 17px;
  margin-left: -59px;
}
.to-order .order-item {
  width: 165px;
  background: none;
  margin-right: 19px;
  margin-left: 19px;
}
.to-order .order-item .photo {
  width: 164px;
  height: 131px;
  padding-left: 0;
}
.to-order .order-item img {
  max-width: 164px;
  max-height: 131px;
}
.to-order .order-item p {
  padding-top: 45px;
}

.facts {
  float: right;
}

.prints, .exp-work {
  width: 372px;
  height: 121px;
  background-color: #FFF;
  position: relative;
  border: 1px solid #c1c1c1;
  padding: 30px 15px 30px 0px;
  margin-bottom: 35px;
}
.prints img, .exp-work img {
  display: block;
  position: absolute;
  left: 25px;
  top: -4px;
}
.prints p, .exp-work p {
  font-size: 102.5%;
  color: #5A141B;
  font-weight: 700;
  text-decoration: none;
  float: right;
  text-align: center;
  line-height: 20px;
  width: 172px;
  font-family: "Arno Pro", sans-serif;
  text-transform: uppercase;
  transform: scale(0.8,1);
  letter-spacing: 1px;
  margin-top: -7px;

}

.exp-work {
  padding-top: 40px;
  padding-right: 40px;
}
.exp-work img {
  position: absolute;
  left: 30px;
  top: 0px;
}
.exp-work p {
width: 191px;
  margin-top: 3px;
  position: relative;
  left: 32px;
}

.news {
  padding: 22px 20px 20px 35px;
  border: 1px solid #c1c1c1;
  margin-top: 75px;
  margin-bottom: 45px;
  position: relative;
}
.news h3 {
   font-size: 162.5%;
  color: #5A141B;
  font-weight: 200;
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-family: "Arno Pro", sans-serif;
  text-transform: uppercase;
  transform: scale(0.8,1);
  letter-spacing: 2px;
}
.news h3 a {
  display: inline-block;
  font-size: 112.5%;
  font-family: "Open Sans Condensed", sans-serif;
  color: #D6B46D;
  font-weight: 300;
  text-decoration: none;
  font-size: 18px;
  padding-left: 30px;
  position: relative;
  left: 0px;
  bottom: 2px;
  text-transform: none;
}
.news h3 a:hover {
  color: #5A141B;
}
.news h3::after {
   content: '';
  display: block;
  width: 4px;
  height: 26px;
  background-color: #FFF;
  border: 1px solid #c1c1c1;
  border-radius: 35%;
  position: absolute;
  right: 120px;
  top: -3px;
}
.news .h3l {
  position: absolute;
 left: -42px;
  top: -40px;
}
.news .h3r {
  position: absolute;
  left: 47%;
  top: -40px;
}
.news .news-slider-l {
  width: 413px;
  margin-left: 5px;
  float: left;
}
.news .news-slider-l .next {
  right: -30px;
}
.news .slide {
  width: 220px;
  position: relative;
  padding-right: 30px;
}
.news .slide .photo {
  display: table-cell;
  width: 135px;
  height: 134px;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}
.news .slide img {
  max-width: 135px;
  display: inline-block;
  max-height: 134px;
  border: 5px solid #efddc5;
}
.news .slide a {
font-size: 95%;
  color: #5A141B;
  font-weight: 100;
  text-decoration: none;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Arno Pro", sans-serif;
  text-transform: uppercase;
  transform: scale(0.8,1);
  letter-spacing: 2px;
  margin-left: -21px;
}
.news .slide a:hover {
  color: #CF9E61;
}
.news .slide p {
  font-size: 87.5%;
  font-family: "Arial", sans-serif;
  color: #1a1a1a;
  font-weight: normal;
  text-decoration: none;
  line-height: 16px;
}
.news .news-slider-r {
  width: 415px;
  float: right;
  margin-right: 11px;
}
.news .news-slider-r .prev {
  left: -37px;
}
.news .news-slider-r .slide {
  padding-right: 10px;
}

.slick-list{
  overflow: visible;
}
.slick-list .slick-list{
  overflow: hidden;
}
.news .slide-next {
  padding: 0;
  width: 27px;
  height: 28px;
  border: none;
  display: block;
  outline: none;
  cursor: pointer;
  z-index: 2;
}
.news .slide-next:focus {
  outline: none;
}
.news .prev {
  position: absolute;
  left: -35px;
  top: 60px;
  background: url(../images/arr_spr.png) 0px 0px no-repeat;
}
.news .prev:hover {
  background: url(../images/arr_spr.png) -29px 0px no-repeat;
}
.news .next {
  position: absolute;
  right: -26px;
  top: 60px;
  background: url(../images/arr_spr.png) -58px 0px no-repeat;
}
.news .next:hover {
  background: url(../images/arr_spr.png) -87px 0px no-repeat;
}
.news .slick-slider {
  margin-bottom: 0;
}
.news::before {
  content: '';
  display: block;
  width: 1px;
  height: 35px;
  background-color: #BCB6AF;
  position: absolute;
  left: 50%;
  top: 35px;
}
.news::after {
  content: '';
  display: block;
  width: 1px;
  height: 35px;
  background-color: #BCB6AF;
  position: absolute;
  left: 50%;
  top: 120px;
}

.main-text {
  margin-bottom: 20px;
}
.main-text h2 {
  padding-bottom: 30px;
}
.main-text p {
  font-size: 87.5%;
  font-family: "Arial", sans-serif;
  color: #1a1a1a;
  font-weight: normal;
  text-decoration: none;
  line-height: 16px;
  text-align: justify;
  padding-bottom: 20px;
}

.footer {
  position: relative;
  padding-bottom: 20px;
  padding-right: 10px;
}
.footer .nav-menu {
  border: none;
  padding-top: 0px;
  margin-left: 105px;
}
.footer .nav-menu li a:hover {
  background: none;
  color: #AE824B;
}
.footer .goup {
  width: 28px;
  height: 27px;
  display: block;
  background: url(../images/arr_spr.png) -116px 0px no-repeat;
  position: absolute;
  right: 17px;
  top: 25px;
}
.footer .goup:hover {
  background: url(../images/arr_spr.png) -146px 0px no-repeat;
}
.footer::before {
  content: '';
  display: block;
  width: 100%;
  height: 16px;
  background: url(../images/foot_bord.png) top left no-repeat;
}

.foot-center {
  float: right;
  width: 445px;
}
.foot-center p {
  font-size: 75%;
  font-family: "Arial", sans-serif;
  color: #1f1f1f;
  font-weight: normal;
  text-decoration: none;
}

.soc-btns {
  width: 103px;
  margin-left: 50px;
  padding-top: 10px;
  padding-bottom: 15px;
}
.soc-btns a {
  text-decoration: none;
}
.soc-btns a i {
  float: left;
  border-radius: 30%;
  width: 28px;
  height: 27px;
  text-align: center;
  line-height: 27px;
  color: #fff;
  margin-right: 8px;
  background: #4a2f1b;
  text-decoration: none;
}
.soc-btns a i:hover {
  background: #cf9e61;
}
.soc-btns a i:focus {
  background: #cf9e61;
}
.soc-btns a .fa-vk {
  margin-right: 0;
}

.foot-right {
  width: 165px;
  margin-top: 35px;
  float: right;
}
.foot-right .soloit {
  background: url(../images/solo-spr.png) 0px 0px no-repeat;
  font-size: 75%;
  font-family: "Arial", sans-serif;
  color: #4A2F1B;
  font-weight: normal;
  text-decoration: none;
  padding: 0px 0px 0px 46px;
  line-height: 15px;
  display: inline-block;
  margin-left: 10px;
}
.foot-right .soloit:hover {
  background: url(../images/solo-spr.png) 0px -33px no-repeat;
  color: #CF9E61;
}

.internal .side-menu {
  /*height: 337px;*/
}
.internal .side-menu::before {
  content: '';
  display: block;
  width: 13px;
  height: 100%;
  z-index: 3;
  background: #fff;
  border-left: 1px solid #c1c1c1;
  position: absolute;
  right: 0px;
  top: 0px;
}
.internal .main-cont {
  width: 773px;
  float: right;
  padding-left: 0;
  margin-top: -33px;
}
.internal .main-cont h1 {
  margin-bottom: 20px;
}
.internal .main-cont ul {
  border: 1px solid #c1c1c1;
  padding: 5px 0px 5px 25px;
  margin-bottom: 10px;
}
.internal .main-cont ul li {
  font-size: 87.5%;
  font-family: "Arial", sans-serif;
  color: #1f1f1f;
  font-weight: normal;
  text-decoration: none;
  line-height: 16px;
  padding-left: 20px;
  display: block;
  position: relative;
}
.internal .main-cont ul li::before {
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1px solid #c1c1c1;
  position: absolute;
  left: 0px;
  top: 4px;
  background-color: #fff;
}
.internal .main-cont ol {
  border: 1px solid #c1c1c1;
  padding: 5px 0px 5px 45px;
  margin-bottom: 10px;
}
.internal .main-cont ol li {
  font-size: 87.5%;
  font-family: "Arial", sans-serif;
  color: #1f1f1f;
  font-weight: normal;
  text-decoration: none;
  list-style: decimal;
  line-height: 16px;
}
.internal .load-more {
  display: block;
  width: 130px;
  margin: 0 auto;
  border: none;
  background: none;
  font-size: 87.5%;
  font-family: "Arial", sans-serif;
  color: #4A2F1B;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 30px;
}
.internal .load-more i {
  display: inline-block;
  width: 14px;
  height: 14px;
  font-size: 90%;
  line-height: 13px;
  border-radius: 30%;
  border: 1px solid #4A2F1B;
  line-height: 12px\9;
  font-size: 100% \9;
}
@-moz-document url-prefix() {
  .internal .load-more i {
    padding-left: 0;
    font-size: 100%;
    line-height: 12px;
  }
}
.internal .load-more ::i-block-chrome, .internal .load-more i {
  padding-left: 0;
  font-size: 100%;
  padding-right: 1px;
  line-height: 12px;
}
.internal .load-more:focus {
  outline: none;
}
.internal .load-more:hover {
  color: #B78D5A;
}
.internal .load-more:hover i {
  border-color: #B78D5A;
}
.internal .photo {
  display: inline-block;
  width: 110px;
  height: 110px;
  overflow: hidden;
  position: relative;
  padding-right: 4px;
}
.internal .photo img {
  position: absolute;
  left: 0px;
  top: 0px;
  max-width: 400px;
}
.internal .photo:hover {
  overflow: visible;
  z-index: 2;
  border: none;
}
.internal .photo:hover img {
  padding: 3px;
  border: 1px solid #c1c1c1;
  background: #fff;
}
.internal .back-tolist {
  font-size: 87.5%;
  font-family: "Open Sans Condensed", sans-serif;
  color: #BA8F59;
  font-weight: 300;
  text-decoration: none;
  display: block;
  margin-bottom: 32px;
}
.internal .back-tolist i {
  display: inline-block;
  width: 14px;
  height: 14px;
  padding-left: 3px;
  margin-right: 5px;
  line-height: 13px;
  border-radius: 30%;
  border: 1px solid #BA8F59;
  line-height: 12px\9;
}
@-moz-document url-prefix() {
  .internal .back-tolist i {
    line-height: 12px;
  }
}
.internal .back-tolist ::i-block-chrome, .internal .back-tolist i {
  line-height: 12px;
}
.internal .back-tolist:hover {
  color: #4A2F1B;
}
.internal .back-tolist:hover i {
  border-color: #4A2F1B;
}
.internal .hh2 {
  font-size: 150%;
  font-family: "Open Sans Condensed", sans-serif;
  color: #BA8F59;
  font-weight: 300;
  text-decoration: none;
  display: block;
  padding-bottom: 10px;
}
.internal .more-photo {
  display: block;
  font-size: 100%;
  font-family: "Open Sans Condensed", sans-serif;
  color: #BA8F59;
  font-weight: 300;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #C3AC91;
}
.internal .more-photo:hover {
  color: #4A2F1B;
  border-color: #4A2F1B;
}
.internal .simple-text {
  font-size: 87.5%;
  font-family: "Arial", sans-serif;
  color: #1f1f1f;
  font-weight: normal;
  text-decoration: none;
  text-align: justify;
  line-height: 16px;
  padding-bottom: 20px;
}
.internal .simple-text a {
  color: #5A141B;
  text-decoration: none;
}
.internal .simple-text a:hover {
  color: #BA8F59;
}
.internal .caption {
  padding-bottom: 10px;
}
.internal h2 {
  font-size: 112.5%;
  font-family: "Open Sans Condensed", sans-serif;
  color: #C99758;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 15px;
}
.internal h2::before {
  display: none;
}
.internal h3 {
  font-size: 112.5%;
  font-family: "Open Sans Condensed", sans-serif;
  color: #C99758;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 15px;
  padding-left: 30px;
}
.internal h3::before {
  display: none;
}

.levels {
  margin-bottom: 13px;
  padding: 0 !important;
  border: none !important;
}
.levels li {
  display: inline-block !important;
  padding-left: 7px !important;
  padding-right: 7px !important;
  list-style: none !important;
  border-left: 1px solid #c1c1c1;
}
.levels li::before {
  display: none !important;
}
.levels li a {
  font-size: 100%;
  font-family: "Arial", sans-serif;
  color: #BA8F59;
  font-weight: normal;
  text-decoration: none;
}
.levels .not-active {
  font-size: 87.5%;
  font-family: "Arial", sans-serif;
  color: #7A6956 !important;
  font-weight: normal;
  text-decoration: none;
}

.works {
  margin-bottom: 15px;
  float: left;
}

.work-item {
  width: 375px;
  float: left;
  padding-right: 10px;
  padding-bottom: 25px;
}
.work-item p {
  font-size: 87.5%;
  font-family: "Arial", sans-serif;
  color: #1f1f1f;
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
  width: 135px;
  line-height: 16px;
  position: relative;
  left: 0px;
  top: -18px;
}

.album {
  padding-bottom: 10px;
}
.album p {
  padding-bottom: 20px;
}
.album .album-item {
  width: 151px;
  height: 185px;
  float: left;
  padding-bottom: 20px;
}
.album .album-item p {
  font-size: 100%;
  font-family: "Open Sans Condensed", sans-serif;
  color: #BA8F59;
  font-weight: 300;
  text-decoration: none;
  padding-bottom: 0;
  padding-top: 2px;
}
.album .photo {
  width: 145px;
  height: 145px;
}

.catalog {
  padding-bottom: 20px;
}
.catalog .odd {
  padding-right: 20px;
}
.catalog .border .descr {
  width: 166px;
}
.catalog .border .photo:hover {
  overflow: hidden;
   border: 1px solid #c1c1c1;
}
.catalog .border .photo:hover img {
  padding: 0;
  border: none;
}

.catalog-item {
  padding-right: 55px;
  float: left;
  padding-bottom: 20px;
}
.catalog-item .photo {
  width: 163px;
  height: 205px;
  background-color: #FFF;
  border: 1px solid #c1c1c1;
  float: left;
  margin-right: 10px;
}
.catalog-item .descr {
  float: left;
  width: 165px;
}
.catalog-item .descr a {
  font-size: 150%;
  font-family: "Open Sans Condensed", sans-serif;
  color: #BA8F59;
  font-weight: 300;
  text-decoration: none;
  display: block;
  line-height: 28px;
  padding-bottom: 7px;
}
.catalog-item .descr a:hover {
  color: #4A2F1B;
}
.catalog-item .descr span {
  font-size: 87.5%;
  font-family: "Arial", sans-serif;
  color: #564B3F;
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
  line-height: 17px;
}
.catalog-item .descr .in-stock {
  color: #1f1f1f;
  padding-top: 18px;
  padding-bottom: 30px;
}
.catalog-item .descr p {
  font-size: 112.5%;
  font-family: "Open Sans Condensed", sans-serif;
  color: #5A141B;
  font-weight: 700;
  text-decoration: none;
}

.cart-baget, .cart-border, .cart-news {
  margin-bottom: 25px;
}
.cart-baget img, .cart-border img, .cart-news img {
  display: block;
  float: left;
  border: 1px solid #c1c1c1;
  margin-right: 15px;
}
.cart-baget .descr, .cart-border .descr, .cart-news .descr {
  float: left;
  width: 490px;
}
.cart-baget span, .cart-border span, .cart-news span {
  font-size: 87.5%;
  font-family: "Arial", sans-serif;
  color: #564B3F;
  font-weight: normal;
  text-decoration: none;
  display: block;
  line-height: 17px;
}
.cart-baget .in-stock, .cart-border .in-stock, .cart-news .in-stock {
  color: #1f1f1f;
  padding-top: 18px;
  padding-bottom: 30px;
}
.cart-baget .price, .cart-border .price, .cart-news .price {
   font-size: 150%;
  color: #5A141B;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 35px;
  font-family: "Arno Pro", sans-serif;
  text-transform: uppercase;
  transform: scale(0.8,1);
  letter-spacing: 2px;
  margin-left: -53px;
}
.cart-border .price{ margin-left: -193px!important;}

.cart-baget p, .cart-border p, .cart-news p {
  padding-bottom: 10px;
}

.cart-border img {
  margin-bottom: 5px;
  margin-right: 20px;
}
.cart-border .hh3 {
  font-size: 87.5%;
  font-family: "Arial", sans-serif;
  color: #1f1f1f;
  font-weight: 600;
  text-decoration: none;
  padding-top: 5px;
  line-height: 16px;
}

.news-list .no-prev img {
  border: 10px solid #f8f8f8 !important;
}

.news-item {
  padding-bottom: 10px;
}
.news-item .photo {
  display: table-cell;
  width: 160px;
  height: 145px;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  float: left;
  padding-right: 15px;
}
.news-item .photo:hover {
  overflow: hidden;
}
.news-item .photo:hover img {
  padding: 0;
  border: none;
}
.news-item img {
  display: inline-block !important;
  position: static !important;
  max-width: 145px !important;
  max-height: 145px;
}
.news-item .news-info {
  float: left;
  width: 590px;
}
.news-item .hh2 {
  padding-bottom: 15px;
}
.news-item .hh2:hover {
  color: #4A2F1B;
}
.news-item .back-tolist {
  float: right;
}
.news-item .back-tolist i {
  margin-left: 5px;
  margin-right: 0;
  padding-left: 4px\9;
}
@-moz-document url-prefix() {
  .news-item .back-tolist i {
    padding-left: 4px;
  }
}
.news-item .back-tolist ::i-block-chrome, .news-item .back-tolist i {
  line-height: 12px;
  padding-left: 4px;
}
.news-item p {
  padding-bottom: 25px;
}

.nav-pages {
  float: right;
  margin-bottom: 15px;
  padding: 0 !important;
  border: none !important;
}
.nav-pages li {
  display: inline-block !important;
  padding: 0 !important;
}
.nav-pages li a {
  font-size: 100%;
  font-family: "Arial", sans-serif;
  color: #5A141B;
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
}
.nav-pages li::before {
  display: none !important;
}
.nav-pages li .active, .nav-pages li a:hover {
  color: #BA8F59;
}

.cart-news {
  margin-bottom: 15px;
}
.cart-news img {
  margin-bottom: 10px;
  margin-right: 15px;
}

.serv-item {
  padding-bottom: 20px;
}
.serv-item .photo {
  float: left;
  width: 145px;
  height: 145px;
  margin-right: 5px;
}
.serv-item .serv-descr {
  float: left;
  width: 445px;
  position: relative;
}
/**/
.serv-item .serv-descr .simple-text{
  min-height: 105px;
}


/* # */
.serv-item .serv-descr .photo {
  width: 109px;
  height: 109px;
  margin-right: 5px;
  float: left;
}
.serv-item .serv-descr p {
  padding-bottom: 0;
}
.serv-item .serv-descr .back-tolist {
  position: absolute;
  right: 0px;
  bottom: 10px;
  margin-bottom: 0;
  padding-top: 8px;
}
.serv-item .serv-descr .back-tolist i {
  margin-left: 5px;
  margin-right: 0;
  padding-left: 4px\9;
}
@-moz-document url-prefix() {
  .serv-item .serv-descr .back-tolist i {
    padding-left: 4px;
  }
}
.serv-item .serv-descr .back-tolist ::i-block-chrome, .serv-item .serv-descr .back-tolist i {
  line-height: 12px;
  padding-left: 4px;
}
.serv-item .serv-descr .more-photo {
  padding-top: 5px;
}

.cart-serv .photo {
  width: 145px;
  height: 145px;
  margin-right: 2px;
}
/**/
.internal .cart-serv .photo {
  max-width: 300px;
}
.internal .cart-serv .photo img{
  max-width: 300px;
}
/* # */

.cart-serv .more-photo {
  text-align: right;
  padding-top: 7px;
  margin-top: 5px;
  margin-right: 6px;
  border-bottom: none;
  border-top: 1px solid #C3AC91;
}
.cart-serv p {
  padding-bottom: 20px;
}

.static {
  margin-bottom: 50px;
}
div.static p{
  font-size: 87.5%;
  font-family: "Arial", sans-serif;
  color: #1f1f1f;
  font-weight: normal;
  text-decoration: none;
  text-align: justify;
  line-height: 16px;
}
.search-page .search-item a{
  color: #BA8F59;
  font-size: 110%;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
}
.search-page .search-item a:hover{
color: #7A6956;
}

.search-query {
  color: rgb(74, 53, 61);
}

.search-button {
color: white;
border-color: rgb(186, 143, 89);
background-color: rgb(186, 143, 89);
}

#solo_btn_import_save {    width: 159px;
    height: 34px;
    background-color: #CF9E61;
    border-radius: 8px;
    margin: 0 auto;
    padding: 0;
    border: none;
    cursor: pointer;
    font-size: 106.25%;
    font-family: "Arial", sans-serif;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 34px;
    display: block;}

#solo_btn_import_save:hover {    
    background-color: #4a2f1b;
}

#solo_calc .solo_block .solo_h2 {font-size: 150%;
    font-family: "Open Sans Condensed", sans-serif;
    color: #BA8F59;
    font-weight: 300;
    text-decoration: none;
    display: block;
    padding-bottom: 10px;}

#solo_calc .solo_block .solo_h2 span {    color: #1f1f1f;
    font-size: 16px;}

#solo_calc .solo_block .solo_input {    color: #1f1f1f;
    font-size: 16px;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 100;
    margin: 14px 0;}
#solo_calc .solo_block .solo_input input {margin: 0 14px;
    padding: 2px 7px;
height: 30px;
border: 1px solid #ABABAB!important;
    line-height: 24px;}

#solo_calc .solo_block .solo_input input:focus {border: 1px solid #BA8F59!important;
    box-shadow: none!important;
    outline: none;

}

#solo_calc .solo_block {    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 12px;
    margin-bottom: 32px;}

#solo_calc .solo_block .solo_input select:focus {    box-shadow: none!important;
    outline: none;}

#solo_calc .solo_block .solo_input select option {    font-size: 14px;
    font-family: "Open Sans Condensed", sans-serif!important;
    color: #1f1f1f;
    font-weight: 100!important;
}


#solo_calc .solo_block .solo_input select  {    background: url('/local/templates/.default/solo-it.ru/images/calaulator_strelka.gif') no-repeat center right;
    background-color: transparent;
    -webkit-appearance: none;
-moz-appearance: none;
    padding: 5px;
    min-width: 200px;
  outline: none;
    border: 1px solid #ABABAB!important;
    }

.solo_input #custom-templates, .solo_input .solo_block_baget, .solo_input .solo_input_couunt_bagets {display: inline-table;}
.solo_input .solo_block_baget {width: 230px;}
.solo_input .solo_enter_art_tov {position: relative;
    top: 0px;}
#custom-templates .twitter-typeahead input {    line-height: 21px;}
.solo_input .solo_input_couunt_bagets span {    color: #BA8F59;}

.solo_input_couunt_bagets input[type=radio] {display: none}

.solo_input_couunt_bagets input[type=radio] + label{   
 background: url('/local/templates/.default/solo-it.ru/images/calaulator_radio.gif') no-repeat 0px 0px;
padding-left: 26px;
    height: 30px;
    line-height: 24px;}


.solo_input_couunt_bagets input[type=radio]:checked  + label{   
background: url('/local/templates/.default/solo-it.ru/images/calaulator_radio_chek.gif') no-repeat 0px 0px;}

.solo_input_couunt_bagets label {padding-right: 27px;}

.calaulator_button {    border-top: 1px solid #c1c1c1;
    margin: 31px 0 10px 0;
    padding: 24px 0;}

#solo_btn_go {width: 129px;
    height: 34px;
    background-color: #6d5747;
    border-radius: 8px;
    margin: 0 0 0 237px;
    padding: 0;
    border: none;
    cursor: pointer;
    font-size: 106.25%;
     font-family: "Open Sans Condensed", sans-serif!important;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    line-height: 34px;
    text-align: center;
    margin-top: 34px;
display: block;
font-weight: 100;}

#solo_btn_go:hover {background-color: #CF9E61;}
#solo_btn_go:focus{    outline: none;}

#solo_btn_print {width: 129px;
    height: 34px;
    background-color: #fff;
    border-radius: 8px;
    margin: 0 0 0 380px;
    padding: 0;
    border: none;
    cursor: pointer;
    font-size: 106.25%;
    color: #6d5747;
    font-weight: normal;
    text-decoration: none;
    line-height: 34px;
    text-align: center;
    margin-top: 0px;
    display: inline-table;
    font-family: "Open Sans Condensed", sans-serif!important;
    font-weight: 100;
    position: relative;
    top: -34px;}
#solo_btn_print:hover {    background-color: #6d5747;
  color: #fff;}
#solo_btn_print:focus{    outline: none;}

.solo_input .solo_block_baget img {border: 1px solid #D4D4D4;
width: 65px;}
.solo_input .solo_block_baget  .solo_block_baget_product {display: inline-table;    margin: 0px 0 0 11px;
    position: relative;}

.solo_input .solo_block_baget  .solo_block_baget_product  div{    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    color: #5A141B;
    padding-top: 10px;}

.solo_input .solo_block_baget  .solo_block_baget_product  p {    font-family: "Open Sans Condensed", sans-serif;
    color: #BA8F59;
    font-weight: 100;
    font-size: 18px;
width: 140px;
}

.solo_input  .solo_input_couunt_bagets  { width: 193px;}

.bx-auth-table .authorize-submit-cell input{    width: 129px;
    height: 34px;
    background-color: #6d5747;
    border-radius: 8px;
    margin: 10px 0 20px 0px;
    padding: 0;
    border: none;
    cursor: pointer;
    font-size: 106.25%;
    font-family: "Open Sans Condensed", sans-serif!important;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    line-height: 34px;
    text-align: center;
    display: block;
    font-weight: 100;}
.bx-auth-table .authorize-submit-cell input:hover {    background-color: #CF9E61;}

.solo_input .solo_enter_art_tov, #custom-templates2 {    display: inline-table;}

.tt-dataset.tt-dataset-best-pictures {      background-color: rgb(255, 255, 255);  border: 1px solid #ABABAB!important;  width: 135px;   margin-left: 14px;margin-top: -1px;}

.tt-dataset.tt-dataset-best-pictures .calculator_product_art {    color: #BA8F59;}

.tt-dataset.tt-dataset-best-pictures .tt-suggestion.tt-selectable {    color: #1f1f1f;   padding: 10px;
    border-bottom: 1px solid #ABABAB!important;}

.solo_message {    color: #1f1f1f;
    font-size: 16px;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 100;}

.solo_message_process {font-family: "Open Sans Condensed", sans-serif;   font-weight: 100;    display: block; margin-top: 20px;    font-size: 150%;}

div.bx-auth input.bx-auth-input {color: #4a2f1b;
    padding: 2px 5px;}